@if (loading$ | async) {

<div class="loading">
    <div class="spinner"></div>
    <p>Loading products...</p>
</div>

}
@else if (error$ | async; as err) {

<div class="error">
    <h2>Something went wrong</h2>
    <p>{{ err }}</p>

    <button (click)="ngOnInit()">
        Retry
    </button>
</div>

}
@else if (products$ | async; as products) {

@if (products.length > 0) {

<div class="products-container">

    @for (item of products; track item.id) {

    @if (
    $index >= (currentPage() - 1) * itemsPerPage &&
    $index < currentPage() * itemsPerPage ) { <div class="product-card">

        <div class="image-container">
            <img [src]="item.image" [alt]="item.title">
        </div>

        <div class="product-info">

            <p class="product-title">
                {{ item.title | slice:0:20 }}
            </p>

            <p class="product-price">
                {{ item.price | currency }}
            </p>

            <button (click)="addToCart(item)">
                Add to Cart
            </button>

        </div>

</div>

}

}

</div>


<!-- Pagination only when products exist -->

<div class="pagination">

    <button [disabled]="previousToggle()" (click)="previous()">
        Previous
    </button>

    <p>{{ currentPage() }}</p>

    <button [disabled]="nextToggle()" (click)="next()">
        Next
    </button>

</div>

}
@else {

<div class="no-products">
    <h2>No products found</h2>
</div>

}

}